<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pitch</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.product')}}">Products Pitch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.pickup')}}">Pickup Pitch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.productpitch')}}">Create a pitch</a>
        </li>
        <ul class="nav navbar-nav navbar-right d-flex flex-row justify-content-end">
  
          {% if current_user.is_authenticated %}
  
          <li class="btn btn-secondary text-light px-3"><a class="text-light" href="{{url_for('main.profile',uname=current_user.username)}}"><span class="glyphicon glyphicon-log-in"></span class="btn btn-primary">Profile</a></li>
  
          <li class="btn btn-danger text-light px-3"><a class="text-light m-3" href="{{url_for('auth.logout')}}" ><span class="glyphicon glyphicon-log-in"></span > Sign Out</a></li>
          {% else %}
          <li class="btn btn-success text-light px-3"><a  href="{{url_for('auth.login')}}" ><span class="glyphicon glyphicon-log-in"></span class="btn btn-primary"> Sign In</a></li>
           {%endif%}
          <li class="btn btn-warning text-light px-3"><a href="{{url_for('auth.register')}}" ><span class="glyphicon glyphicon-user"></span class="btn btn-primary"> Sign Up</a></li>
        
        
      </ul>
      
    </div>
  </div>
</nav>


